USE [master]
GO
/****** Object:  Database [JobBoard]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE DATABASE [JobBoard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobBoard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JobBoard.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobBoard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JobBoard_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobBoard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobBoard]
GO
/****** Object:  User [JobBoardReport]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE USER [JobBoardReport] FOR LOGIN [JobBoardReport] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [JobBoardApp]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE USER [JobBoardApp] FOR LOGIN [JobBoardApp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [EmployerPortal]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE USER [EmployerPortal] FOR LOGIN [EmployerPortal] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CandidatePortal]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE USER [CandidatePortal] FOR LOGIN [CandidatePortal] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [JobBoardApp]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [JobBoardApp]
GO
/****** Object:  Schema [auth]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [candidate]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE SCHEMA [candidate]
GO
/****** Object:  Schema [common]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE SCHEMA [common]
GO
/****** Object:  Schema [employer]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE SCHEMA [employer]
GO
/****** Object:  Schema [system]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE SCHEMA [system]
GO
/****** Object:  Table [employer].[Companies]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [employer].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[ShortName] [nvarchar](100) NULL,
	[Website] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Industry] [nvarchar](150) NULL,
	[SizeRange] [nvarchar](50) NULL,
	[FoundedYear] [smallint] NULL,
	[HeadquartersCityId] [int] NULL,
	[LogoUrl] [nvarchar](1000) NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [employer].[Jobs]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [employer].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[RecruiterId] [int] NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Slug]  AS (concat(lower(replace([Title],' ','-')),'-',[JobId])) PERSISTED NOT NULL,
	[ShortDescription] [nvarchar](1000) NULL,
	[Description] [nvarchar](max) NULL,
	[Responsibilities] [nvarchar](max) NULL,
	[Requirements] [nvarchar](max) NULL,
	[Benefits] [nvarchar](max) NULL,
	[EmploymentTypeId] [tinyint] NULL,
	[SeniorityLevelId] [tinyint] NULL,
	[RemoteTypeId] [tinyint] NULL,
	[CityId] [int] NULL,
	[CountryId] [int] NULL,
	[SalaryMin] [decimal](12, 2) NULL,
	[SalaryMax] [decimal](12, 2) NULL,
	[Currency] [nvarchar](10) NULL,
	[PostedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[StatusId] [tinyint] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[ViewsCount] [int] NOT NULL,
	[ApplicationsCount] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [employer].[vw_PublishedJobs]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***********************************************
 Example helper: view for published jobs (read-only)
***********************************************/
CREATE   VIEW [employer].[vw_PublishedJobs]
AS
SELECT
    j.JobId, j.Title, j.ShortDescription, j.Slug, j.CompanyId, c.Name AS CompanyName,
    j.CityId, j.CountryId, j.SalaryMin, j.SalaryMax, j.Currency, j.PostedAt, j.StatusId
FROM employer.Jobs j
JOIN employer.Companies c ON c.CompanyId = j.CompanyId
WHERE j.StatusId = 2; -- Published
GO
/****** Object:  Table [auth].[Roles]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Roles](
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[Users]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [varbinary](max) NULL,
	[Salt] [varbinary](64) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [candidate].[Applications]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [candidate].[Applications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[CandidateId] [int] NOT NULL,
	[ResumeId] [int] NULL,
	[CoverLetter] [nvarchar](max) NULL,
	[Source] [nvarchar](100) NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RecruiterNote] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [candidate].[Candidates]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [candidate].[Candidates](
	[CandidateId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Headline] [nvarchar](250) NULL,
	[Summary] [nvarchar](max) NULL,
	[YearsOfExperience] [decimal](3, 1) NULL,
	[CityId] [int] NULL,
	[CountryId] [int] NULL,
	[AvatarUrl] [nvarchar](1000) NULL,
	[PublicProfile] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [candidate].[CandidateSkills]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [candidate].[CandidateSkills](
	[CandidateSkillId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[Proficiency] [tinyint] NULL,
	[YearsExperience] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [candidate].[Resumes]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [candidate].[Resumes](
	[ResumeId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[FileUrl] [nvarchar](1000) NULL,
	[FileName] [nvarchar](300) NULL,
	[ParsedJson] [nvarchar](max) NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[DriveFileId] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResumeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [candidate].[SavedJobs]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [candidate].[SavedJobs](
	[SavedJobId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[SavedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SavedJobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[Cities]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[Countries]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsoCode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[EmploymentTypes]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[EmploymentTypes](
	[EmploymentTypeId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmploymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[JobStatus]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[JobStatus](
	[JobStatusId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[Provinces]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[Provinces](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[RemoteTypes]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[RemoteTypes](
	[RemoteTypeId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RemoteTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[SeniorityLevels]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[SeniorityLevels](
	[SeniorityLevelId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeniorityLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [common].[Skills]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [common].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [employer].[CompanyReviews]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [employer].[CompanyReviews](
	[CompanyReviewId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CandidateId] [int] NULL,
	[Rating] [tinyint] NOT NULL,
	[Title] [nvarchar](300) NULL,
	[Body] [nvarchar](max) NULL,
	[Pros] [nvarchar](max) NULL,
	[Cons] [nvarchar](max) NULL,
	[IsAnonymous] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [employer].[JobSkills]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [employer].[JobSkills](
	[JobSkillId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[Weight] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [employer].[JobViews]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [employer].[JobViews](
	[ViewID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[ViewedAt] [datetime2](7) NOT NULL,
	[IPAddress] [varchar](45) NULL,
	[UserAgent] [varchar](500) NULL,
	[ReferrerUrl] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [employer].[Recruiters]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [employer].[Recruiters](
	[RecruiterId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[IsPrimaryContact] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecruiterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [system].[ActivityLog]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [system].[ActivityLog](
	[ActivityId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](200) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [system].[Messages]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [system].[Messages](
	[MessageId] [bigint] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NOT NULL,
	[ToUserId] [int] NOT NULL,
	[JobId] [int] NULL,
	[Body] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [auth].[Roles] ([RoleName], [Description]) VALUES (N'Admin', N'Platform administrator with full access to manage the system.')
INSERT [auth].[Roles] ([RoleName], [Description]) VALUES (N'Candidate', N'Job seeker looking for job opportunities.')
INSERT [auth].[Roles] ([RoleName], [Description]) VALUES (N'EmployerAdmin', N'Administrator of a company responsible for managing job postings and recruitment.')
GO
SET IDENTITY_INSERT [auth].[Users] ON 

INSERT [auth].[Users] ([UserId], [Email], [PasswordHash], [Salt], [Role], [IsEmailConfirmed], [CreatedAt], [LastLoginAt], [IsActive]) VALUES (1, N'daoko@example.com', 0x25B3C5EC20FC2BBA144BC776A243BE257B80317A69A17CDD2F2C046DA64B854F, NULL, N'Candidate', 1, CAST(N'2025-10-20T14:02:50.6403682' AS DateTime2), NULL, 1)
INSERT [auth].[Users] ([UserId], [Email], [PasswordHash], [Salt], [Role], [IsEmailConfirmed], [CreatedAt], [LastLoginAt], [IsActive]) VALUES (2, N'alice@acme.com', 0x07F5763F1849D42AF5DBE981388D9844343D9D91D202914656974D66AF644775, NULL, N'Recruiter', 1, CAST(N'2025-10-20T14:02:50.6403682' AS DateTime2), NULL, 1)
INSERT [auth].[Users] ([UserId], [Email], [PasswordHash], [Salt], [Role], [IsEmailConfirmed], [CreatedAt], [LastLoginAt], [IsActive]) VALUES (3, N'bob@betalab.com', 0xA554DCC0E022B115BE6601356D091CE7F4E42463AEE8AED3E2FD03DC6DE85F73, NULL, N'EmployerAdmin', 1, CAST(N'2025-10-20T14:02:50.6403682' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [auth].[Users] OFF
GO
SET IDENTITY_INSERT [candidate].[Applications] ON 

INSERT [candidate].[Applications] ([ApplicationId], [JobId], [CandidateId], [ResumeId], [CoverLetter], [Source], [AppliedAt], [Status], [RecruiterNote]) VALUES (1, 1, 1, 1, N'Dear hiring team, I am interested in this role. Regards, DAOKO', N'website', CAST(N'2025-10-20T14:02:50.6689091' AS DateTime2), N'Applied', NULL)
INSERT [candidate].[Applications] ([ApplicationId], [JobId], [CandidateId], [ResumeId], [CoverLetter], [Source], [AppliedAt], [Status], [RecruiterNote]) VALUES (2, 3, 2, 2, N'I am very interested in this Senior Java Developer position. My 5 years of experience aligns well with your requirements.', N'website', CAST(N'2025-11-10T09:07:49.8260853' AS DateTime2), N'Under Review', NULL)
INSERT [candidate].[Applications] ([ApplicationId], [JobId], [CandidateId], [ResumeId], [CoverLetter], [Source], [AppliedAt], [Status], [RecruiterNote]) VALUES (3, 7, 3, 3, N'I would love to join your mobile development team. I have extensive Flutter experience.', N'website', CAST(N'2025-11-10T09:07:49.8260853' AS DateTime2), N'Applied', NULL)
SET IDENTITY_INSERT [candidate].[Applications] OFF
GO
SET IDENTITY_INSERT [candidate].[Candidates] ON 

INSERT [candidate].[Candidates] ([CandidateId], [UserId], [FullName], [Headline], [Summary], [YearsOfExperience], [CityId], [CountryId], [AvatarUrl], [PublicProfile], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'DAOKO', N'Backend Engineer | Node.js', N'Creative backend engineer, enjoys photography and animal welfare', CAST(3.0 AS Decimal(3, 1)), 1, 1, N'https://ui-avatars.com/api/?name=DAOKO&size=200', 1, CAST(N'2025-10-20T14:02:50.6413669' AS DateTime2), NULL)
INSERT [candidate].[Candidates] ([CandidateId], [UserId], [FullName], [Headline], [Summary], [YearsOfExperience], [CityId], [CountryId], [AvatarUrl], [PublicProfile], [CreatedAt], [UpdatedAt]) VALUES (2, 5, N'Nguyen Van A', N'Full Stack Developer | Java & React', N'Passionate developer with strong problem-solving skills', CAST(5.0 AS Decimal(3, 1)), 2, 1, N'https://ui-avatars.com/api/?name=Nguyen+Van+A&size=200', 1, CAST(N'2025-11-10T09:07:49.7785213' AS DateTime2), NULL)
INSERT [candidate].[Candidates] ([CandidateId], [UserId], [FullName], [Headline], [Summary], [YearsOfExperience], [CityId], [CountryId], [AvatarUrl], [PublicProfile], [CreatedAt], [UpdatedAt]) VALUES (3, 6, N'Tran Thi B', N'Mobile Developer | Flutter & iOS', N'Mobile app developer specializing in cross-platform solutions', CAST(3.5 AS Decimal(3, 1)), 1, 1, N'https://ui-avatars.com/api/?name=Tran+Thi+B&size=200', 1, CAST(N'2025-11-10T09:07:49.7785213' AS DateTime2), NULL)
SET IDENTITY_INSERT [candidate].[Candidates] OFF
GO
SET IDENTITY_INSERT [candidate].[CandidateSkills] ON 

INSERT [candidate].[CandidateSkills] ([CandidateSkillId], [CandidateId], [SkillId], [Proficiency], [YearsExperience]) VALUES (1, 1, 1, 4, CAST(2.5 AS Decimal(3, 1)))
INSERT [candidate].[CandidateSkills] ([CandidateSkillId], [CandidateId], [SkillId], [Proficiency], [YearsExperience]) VALUES (2, 1, 4, 3, CAST(2.0 AS Decimal(3, 1)))
INSERT [candidate].[CandidateSkills] ([CandidateSkillId], [CandidateId], [SkillId], [Proficiency], [YearsExperience]) VALUES (3, 1, 5, 3, CAST(1.0 AS Decimal(3, 1)))
SET IDENTITY_INSERT [candidate].[CandidateSkills] OFF
GO
SET IDENTITY_INSERT [candidate].[Resumes] ON 

INSERT [candidate].[Resumes] ([ResumeId], [CandidateId], [FileUrl], [FileName], [ParsedJson], [IsPrimary], [IsPublic], [UploadedAt], [DriveFileId]) VALUES (1, 1, N'/uploads/resumes/daoko_resume.pdf', N'daoko_resume.pdf', N'{"experience":[{"company":"Acme","title":"Backend Engineer","years":2}],"skills":["Node.js","PostgreSQL","AWS"]}', 1, 1, CAST(N'2025-10-20T14:02:50.6413669' AS DateTime2), NULL)
INSERT [candidate].[Resumes] ([ResumeId], [CandidateId], [FileUrl], [FileName], [ParsedJson], [IsPrimary], [IsPublic], [UploadedAt], [DriveFileId]) VALUES (2, 2, N'/uploads/resumes/nguyenvana_resume.pdf', N'nguyenvana_resume.pdf', N'{"experience":[{"company":"TechCorp","title":"Java Developer","years":5}],"skills":["Java","Spring Boot","React","MySQL"]}', 1, 1, CAST(N'2025-11-10T09:07:49.8190888' AS DateTime2), NULL)
INSERT [candidate].[Resumes] ([ResumeId], [CandidateId], [FileUrl], [FileName], [ParsedJson], [IsPrimary], [IsPublic], [UploadedAt], [DriveFileId]) VALUES (3, 3, N'/uploads/resumes/tranthib_resume.pdf', N'tranthib_resume.pdf', N'{"experience":[{"company":"AppStudio","title":"Mobile Developer","years":3}],"skills":["Flutter","iOS","TypeScript"]}', 1, 1, CAST(N'2025-11-10T09:07:49.8190888' AS DateTime2), NULL)
SET IDENTITY_INSERT [candidate].[Resumes] OFF
GO
SET IDENTITY_INSERT [candidate].[SavedJobs] ON 

INSERT [candidate].[SavedJobs] ([SavedJobId], [UserId], [JobId], [SavedAt]) VALUES (1, 1, 2, CAST(N'2025-10-20T14:02:50.6719090' AS DateTime2))
INSERT [candidate].[SavedJobs] ([SavedJobId], [UserId], [JobId], [SavedAt]) VALUES (2, 5, 3, CAST(N'2025-11-10T09:07:49.8378355' AS DateTime2))
INSERT [candidate].[SavedJobs] ([SavedJobId], [UserId], [JobId], [SavedAt]) VALUES (3, 5, 4, CAST(N'2025-11-10T09:07:49.8378355' AS DateTime2))
SET IDENTITY_INSERT [candidate].[SavedJobs] OFF
GO
SET IDENTITY_INSERT [common].[Cities] ON 

INSERT [common].[Cities] ([CityId], [ProvinceId], [Name]) VALUES (1, 1, N'Hanoi')
INSERT [common].[Cities] ([CityId], [ProvinceId], [Name]) VALUES (2, 2, N'Ho Chi Minh City')
INSERT [common].[Cities] ([CityId], [ProvinceId], [Name]) VALUES (3, 1, N'Da Nang')
SET IDENTITY_INSERT [common].[Cities] OFF
GO
SET IDENTITY_INSERT [common].[Countries] ON 

INSERT [common].[Countries] ([CountryId], [Name], [IsoCode]) VALUES (1, N'Vietnam', N'VN')
SET IDENTITY_INSERT [common].[Countries] OFF
GO
INSERT [common].[EmploymentTypes] ([EmploymentTypeId], [Name]) VALUES (1, N'FullTime')
INSERT [common].[EmploymentTypes] ([EmploymentTypeId], [Name]) VALUES (2, N'PartTime')
INSERT [common].[EmploymentTypes] ([EmploymentTypeId], [Name]) VALUES (3, N'Contract')
GO
INSERT [common].[JobStatus] ([JobStatusId], [Name]) VALUES (1, N'Draft')
INSERT [common].[JobStatus] ([JobStatusId], [Name]) VALUES (2, N'Published')
INSERT [common].[JobStatus] ([JobStatusId], [Name]) VALUES (3, N'Closed')
GO
SET IDENTITY_INSERT [common].[Provinces] ON 

INSERT [common].[Provinces] ([ProvinceId], [CountryId], [Name]) VALUES (1, 1, N'Hanoi')
INSERT [common].[Provinces] ([ProvinceId], [CountryId], [Name]) VALUES (2, 1, N'Ho Chi Minh')
SET IDENTITY_INSERT [common].[Provinces] OFF
GO
INSERT [common].[RemoteTypes] ([RemoteTypeId], [Name]) VALUES (1, N'Onsite')
INSERT [common].[RemoteTypes] ([RemoteTypeId], [Name]) VALUES (2, N'Remote')
INSERT [common].[RemoteTypes] ([RemoteTypeId], [Name]) VALUES (3, N'Hybrid')
GO
INSERT [common].[SeniorityLevels] ([SeniorityLevelId], [Name]) VALUES (1, N'Junior')
INSERT [common].[SeniorityLevels] ([SeniorityLevelId], [Name]) VALUES (2, N'Mid')
INSERT [common].[SeniorityLevels] ([SeniorityLevelId], [Name]) VALUES (3, N'Senior')
GO
SET IDENTITY_INSERT [common].[Skills] ON 

INSERT [common].[Skills] ([SkillId], [Name], [Slug]) VALUES (1, N'Node.js', N'nodejs')
INSERT [common].[Skills] ([SkillId], [Name], [Slug]) VALUES (2, N'Go', N'go')
INSERT [common].[Skills] ([SkillId], [Name], [Slug]) VALUES (3, N'React', N'react')
SET IDENTITY_INSERT [common].[Skills] OFF
GO
SET IDENTITY_INSERT [employer].[Companies] ON 

INSERT [employer].[Companies] ([CompanyId], [Name], [ShortName], [Website], [Description], [Industry], [SizeRange], [FoundedYear], [HeadquartersCityId], [LogoUrl], [IsVerified], [CreatedAt]) VALUES (1, N'Acme Inc', N'Acme', N'https://acme.example', N'Acme makes great products', N'Software', N'51-200', NULL, 1, N'https://ui-avatars.com/api/?name=Acme+Inc&size=200&background=3b82f6&color=fff', 1, CAST(N'2025-10-20T14:02:50.6478860' AS DateTime2))
INSERT [employer].[Companies] ([CompanyId], [Name], [ShortName], [Website], [Description], [Industry], [SizeRange], [FoundedYear], [HeadquartersCityId], [LogoUrl], [IsVerified], [CreatedAt]) VALUES (2, N'Beta Lab', N'Beta Lab', N'https://betalab.example', N'Beta Lab builds modern web apps', N'Software', N'11-50', NULL, 2, N'https://ui-avatars.com/api/?name=Beta+Lab&size=200&background=3b82f6&color=fff', 0, CAST(N'2025-10-20T14:02:50.6508933' AS DateTime2))
INSERT [employer].[Companies] ([CompanyId], [Name], [ShortName], [Website], [Description], [Industry], [SizeRange], [FoundedYear], [HeadquartersCityId], [LogoUrl], [IsVerified], [CreatedAt]) VALUES (3, N'TechViet Solutions', N'TechViet', N'https://techviet.vn', N'Leading IT solutions provider in Vietnam', N'Software', N'201-500', 2015, 1, N'https://ui-avatars.com/api/?name=TechViet+Solutions&size=200&background=3b82f6&color=fff', 1, CAST(N'2025-11-10T09:07:49.7636868' AS DateTime2))
SET IDENTITY_INSERT [employer].[Companies] OFF
GO
SET IDENTITY_INSERT [employer].[CompanyReviews] ON 

INSERT [employer].[CompanyReviews] ([CompanyReviewId], [CompanyId], [CandidateId], [Rating], [Title], [Body], [Pros], [Cons], [IsAnonymous], [CreatedAt]) VALUES (1, 1, 1, 4, N'Good culture', N'I enjoyed working with supportive colleagues', N'Flexible hours', N'Pay could be better', 0, CAST(N'2025-10-20T14:02:50.6719090' AS DateTime2))
INSERT [employer].[CompanyReviews] ([CompanyReviewId], [CompanyId], [CandidateId], [Rating], [Title], [Body], [Pros], [Cons], [IsAnonymous], [CreatedAt]) VALUES (2, 3, 2, 5, N'Excellent workplace', N'Great company culture and learning opportunities', N'Good benefits; Modern tech stack; Supportive team', N'Can be challenging for beginners', 0, CAST(N'2025-11-10T09:07:49.8328302' AS DateTime2))
INSERT [employer].[CompanyReviews] ([CompanyReviewId], [CompanyId], [CandidateId], [Rating], [Title], [Body], [Pros], [Cons], [IsAnonymous], [CreatedAt]) VALUES (3, 4, 3, 4, N'Good for career growth', N'Nice environment with opportunities to learn', N'Training programs; International exposure', N'Work can be demanding', 1, CAST(N'2025-11-10T09:07:49.8328302' AS DateTime2))
SET IDENTITY_INSERT [employer].[CompanyReviews] OFF
GO
SET IDENTITY_INSERT [employer].[Jobs] ON 

SET IDENTITY_INSERT [employer].[Jobs] OFF
GO
SET IDENTITY_INSERT [employer].[JobSkills] ON 

INSERT [employer].[JobSkills] ([JobSkillId], [JobId], [SkillId], [IsRequired], [Weight]) VALUES (1, 1, 1, 1, 9)
INSERT [employer].[JobSkills] ([JobSkillId], [JobId], [SkillId], [IsRequired], [Weight]) VALUES (2, 1, 4, 1, 7)
INSERT [employer].[JobSkills] ([JobSkillId], [JobId], [SkillId], [IsRequired], [Weight]) VALUES (3, 1, 5, 0, 5)
SET IDENTITY_INSERT [employer].[JobSkills] OFF
GO
SET IDENTITY_INSERT [employer].[JobViews] ON 

INSERT [employer].[JobViews] ([ViewID], [JobID], [ViewedAt], [IPAddress], [UserAgent], [ReferrerUrl]) VALUES (1, 31, CAST(N'2025-12-09T17:40:11.3800000' AS DateTime2), N'192.168.1.1', NULL, NULL)
INSERT [employer].[JobViews] ([ViewID], [JobID], [ViewedAt], [IPAddress], [UserAgent], [ReferrerUrl]) VALUES (2, 31, CAST(N'2025-12-08T17:40:11.3800000' AS DateTime2), N'192.168.1.2', NULL, NULL)
INSERT [employer].[JobViews] ([ViewID], [JobID], [ViewedAt], [IPAddress], [UserAgent], [ReferrerUrl]) VALUES (3, 31, CAST(N'2025-12-07T17:40:11.3800000' AS DateTime2), N'192.168.1.3', NULL, NULL)
GO
SET IDENTITY_INSERT [employer].[JobViews] OFF
GO
SET IDENTITY_INSERT [employer].[Recruiters] ON 

INSERT [employer].[Recruiters] ([RecruiterId], [UserId], [CompanyId], [Title], [IsPrimaryContact]) VALUES (1, 2, 1, N'Senior Talent Partner', 1)
INSERT [employer].[Recruiters] ([RecruiterId], [UserId], [CompanyId], [Title], [IsPrimaryContact]) VALUES (2, 3, 2, N'Hiring Manager', 1)
INSERT [employer].[Recruiters] ([RecruiterId], [UserId], [CompanyId], [Title], [IsPrimaryContact]) VALUES (3, 7, 3, N'HR Manager', 1)
SET IDENTITY_INSERT [employer].[Recruiters] OFF
GO
SET IDENTITY_INSERT [system].[ActivityLog] ON 

INSERT [system].[ActivityLog] ([ActivityId], [UserId], [Action], [Details], [CreatedAt]) VALUES (1, 1, N'AppliedToJob', N'Applied to job 1', CAST(N'2025-10-20T14:02:50.6719090' AS DateTime2))
INSERT [system].[ActivityLog] ([ActivityId], [UserId], [Action], [Details], [CreatedAt]) VALUES (2, 2, N'ViewedApplication', N'Viewed application 1', CAST(N'2025-10-20T14:02:50.6719090' AS DateTime2))
INSERT [system].[ActivityLog] ([ActivityId], [UserId], [Action], [Details], [CreatedAt]) VALUES (3, 5, N'ProfileUpdated', N'Updated profile information', CAST(N'2025-11-10T09:07:49.8428362' AS DateTime2))
SET IDENTITY_INSERT [system].[ActivityLog] OFF
GO
SET IDENTITY_INSERT [system].[Messages] ON 

INSERT [system].[Messages] ([MessageId], [FromUserId], [ToUserId], [JobId], [Body], [SentAt], [IsRead]) VALUES (1, 2, 1, 1, N'Hi DAOKO — thanks for applying. Can we schedule a quick call?', CAST(N'2025-10-20T14:02:50.6719090' AS DateTime2), 0)
SET IDENTITY_INSERT [system].[Messages] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534F96334D7]    Script Date: 12/21/2025 10:59:28 AM ******/
ALTER TABLE [auth].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_CandidateId]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_CandidateId] ON [candidate].[Applications]
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Candidat__1788CC4D6BB0F135]    Script Date: 12/21/2025 10:59:28 AM ******/
ALTER TABLE [candidate].[Candidates] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_resumes_driveFileId]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE NONCLUSTERED INDEX [idx_resumes_driveFileId] ON [candidate].[Resumes]
(
	[DriveFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SavedJobs]    Script Date: 12/21/2025 10:59:28 AM ******/
ALTER TABLE [candidate].[SavedJobs] ADD  CONSTRAINT [UQ_SavedJobs] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Skills__737584F6C203DDB1]    Script Date: 12/21/2025 10:59:28 AM ******/
ALTER TABLE [common].[Skills] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_CompanyId]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_CompanyId] ON [employer].[Jobs]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_Status_PostedAt]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_Status_PostedAt] ON [employer].[Jobs]
(
	[StatusId] ASC,
	[PostedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobViews_JobID]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobViews_JobID] ON [employer].[JobViews]
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobViews_ViewedAt]    Script Date: 12/21/2025 10:59:28 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobViews_ViewedAt] ON [employer].[JobViews]
(
	[ViewedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [auth].[Users] ADD  DEFAULT ((0)) FOR [IsEmailConfirmed]
GO
ALTER TABLE [auth].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [auth].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [candidate].[Applications] ADD  DEFAULT (sysutcdatetime()) FOR [AppliedAt]
GO
ALTER TABLE [candidate].[Applications] ADD  DEFAULT ('Applied') FOR [Status]
GO
ALTER TABLE [candidate].[Candidates] ADD  DEFAULT ((1)) FOR [PublicProfile]
GO
ALTER TABLE [candidate].[Candidates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [candidate].[Resumes] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [candidate].[Resumes] ADD  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [candidate].[Resumes] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [candidate].[SavedJobs] ADD  DEFAULT (sysutcdatetime()) FOR [SavedAt]
GO
ALTER TABLE [employer].[Companies] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [employer].[Companies] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [employer].[CompanyReviews] ADD  DEFAULT ((0)) FOR [IsAnonymous]
GO
ALTER TABLE [employer].[CompanyReviews] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [employer].[Jobs] ADD  DEFAULT (sysutcdatetime()) FOR [PostedAt]
GO
ALTER TABLE [employer].[Jobs] ADD  DEFAULT ((2)) FOR [StatusId]
GO
ALTER TABLE [employer].[Jobs] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [employer].[Jobs] ADD  DEFAULT ((0)) FOR [ViewsCount]
GO
ALTER TABLE [employer].[Jobs] ADD  DEFAULT ((0)) FOR [ApplicationsCount]
GO
ALTER TABLE [employer].[JobSkills] ADD  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [employer].[JobSkills] ADD  DEFAULT ((5)) FOR [Weight]
GO
ALTER TABLE [employer].[JobViews] ADD  DEFAULT (getdate()) FOR [ViewedAt]
GO
ALTER TABLE [employer].[Recruiters] ADD  DEFAULT ((0)) FOR [IsPrimaryContact]
GO
ALTER TABLE [system].[ActivityLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [system].[Messages] ADD  DEFAULT (sysutcdatetime()) FOR [SentAt]
GO
ALTER TABLE [system].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role])
REFERENCES [auth].[Roles] ([RoleName])
GO
ALTER TABLE [auth].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [candidate].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [candidate].[Candidates] ([CandidateId])
GO
ALTER TABLE [candidate].[Applications] CHECK CONSTRAINT [FK_Applications_Candidate]
GO
ALTER TABLE [candidate].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Job] FOREIGN KEY([JobId])
REFERENCES [employer].[Jobs] ([JobId])
GO
ALTER TABLE [candidate].[Applications] CHECK CONSTRAINT [FK_Applications_Job]
GO
ALTER TABLE [candidate].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Resume] FOREIGN KEY([ResumeId])
REFERENCES [candidate].[Resumes] ([ResumeId])
GO
ALTER TABLE [candidate].[Applications] CHECK CONSTRAINT [FK_Applications_Resume]
GO
ALTER TABLE [candidate].[Candidates]  WITH CHECK ADD  CONSTRAINT [FK_Candidates_City] FOREIGN KEY([CityId])
REFERENCES [common].[Cities] ([CityId])
GO
ALTER TABLE [candidate].[Candidates] CHECK CONSTRAINT [FK_Candidates_City]
GO
ALTER TABLE [candidate].[Candidates]  WITH CHECK ADD  CONSTRAINT [FK_Candidates_Country] FOREIGN KEY([CountryId])
REFERENCES [common].[Countries] ([CountryId])
GO
ALTER TABLE [candidate].[Candidates] CHECK CONSTRAINT [FK_Candidates_Country]
GO
ALTER TABLE [candidate].[Candidates]  WITH CHECK ADD  CONSTRAINT [FK_Candidates_Users] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [candidate].[Candidates] CHECK CONSTRAINT [FK_Candidates_Users]
GO
ALTER TABLE [candidate].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [FK_CandidateSkills_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [candidate].[Candidates] ([CandidateId])
GO
ALTER TABLE [candidate].[CandidateSkills] CHECK CONSTRAINT [FK_CandidateSkills_Candidate]
GO
ALTER TABLE [candidate].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [FK_CandidateSkills_Skill] FOREIGN KEY([SkillId])
REFERENCES [common].[Skills] ([SkillId])
GO
ALTER TABLE [candidate].[CandidateSkills] CHECK CONSTRAINT [FK_CandidateSkills_Skill]
GO
ALTER TABLE [candidate].[Resumes]  WITH CHECK ADD  CONSTRAINT [FK_Resumes_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [candidate].[Candidates] ([CandidateId])
GO
ALTER TABLE [candidate].[Resumes] CHECK CONSTRAINT [FK_Resumes_Candidate]
GO
ALTER TABLE [candidate].[SavedJobs]  WITH CHECK ADD  CONSTRAINT [FK_SavedJobs_Job] FOREIGN KEY([JobId])
REFERENCES [employer].[Jobs] ([JobId])
GO
ALTER TABLE [candidate].[SavedJobs] CHECK CONSTRAINT [FK_SavedJobs_Job]
GO
ALTER TABLE [candidate].[SavedJobs]  WITH CHECK ADD  CONSTRAINT [FK_SavedJobs_User] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [candidate].[SavedJobs] CHECK CONSTRAINT [FK_SavedJobs_User]
GO
ALTER TABLE [common].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [common].[Provinces] ([ProvinceId])
GO
ALTER TABLE [common].[Cities] CHECK CONSTRAINT [FK_Cities_Provinces]
GO
ALTER TABLE [common].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Provinces_Countries] FOREIGN KEY([CountryId])
REFERENCES [common].[Countries] ([CountryId])
GO
ALTER TABLE [common].[Provinces] CHECK CONSTRAINT [FK_Provinces_Countries]
GO
ALTER TABLE [employer].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_City] FOREIGN KEY([HeadquartersCityId])
REFERENCES [common].[Cities] ([CityId])
GO
ALTER TABLE [employer].[Companies] CHECK CONSTRAINT [FK_Companies_City]
GO
ALTER TABLE [employer].[CompanyReviews]  WITH CHECK ADD  CONSTRAINT [FK_CompanyReviews_Candidate] FOREIGN KEY([CandidateId])
REFERENCES [candidate].[Candidates] ([CandidateId])
GO
ALTER TABLE [employer].[CompanyReviews] CHECK CONSTRAINT [FK_CompanyReviews_Candidate]
GO
ALTER TABLE [employer].[CompanyReviews]  WITH CHECK ADD  CONSTRAINT [FK_CompanyReviews_Company] FOREIGN KEY([CompanyId])
REFERENCES [employer].[Companies] ([CompanyId])
GO
ALTER TABLE [employer].[CompanyReviews] CHECK CONSTRAINT [FK_CompanyReviews_Company]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_City] FOREIGN KEY([CityId])
REFERENCES [common].[Cities] ([CityId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_City]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Company] FOREIGN KEY([CompanyId])
REFERENCES [employer].[Companies] ([CompanyId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_Company]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Country] FOREIGN KEY([CountryId])
REFERENCES [common].[Countries] ([CountryId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_Country]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_EmploymentType] FOREIGN KEY([EmploymentTypeId])
REFERENCES [common].[EmploymentTypes] ([EmploymentTypeId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_EmploymentType]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Recruiter] FOREIGN KEY([RecruiterId])
REFERENCES [employer].[Recruiters] ([RecruiterId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_Recruiter]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Remote] FOREIGN KEY([RemoteTypeId])
REFERENCES [common].[RemoteTypes] ([RemoteTypeId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_Remote]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Seniority] FOREIGN KEY([SeniorityLevelId])
REFERENCES [common].[SeniorityLevels] ([SeniorityLevelId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_Seniority]
GO
ALTER TABLE [employer].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Status] FOREIGN KEY([StatusId])
REFERENCES [common].[JobStatus] ([JobStatusId])
GO
ALTER TABLE [employer].[Jobs] CHECK CONSTRAINT [FK_Jobs_Status]
GO
ALTER TABLE [employer].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Job] FOREIGN KEY([JobId])
REFERENCES [employer].[Jobs] ([JobId])
GO
ALTER TABLE [employer].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Job]
GO
ALTER TABLE [employer].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Skill] FOREIGN KEY([SkillId])
REFERENCES [common].[Skills] ([SkillId])
GO
ALTER TABLE [employer].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Skill]
GO
ALTER TABLE [employer].[JobViews]  WITH CHECK ADD  CONSTRAINT [FK_JobViews_Jobs] FOREIGN KEY([JobID])
REFERENCES [employer].[Jobs] ([JobId])
ON DELETE CASCADE
GO
ALTER TABLE [employer].[JobViews] CHECK CONSTRAINT [FK_JobViews_Jobs]
GO
ALTER TABLE [employer].[Recruiters]  WITH CHECK ADD  CONSTRAINT [FK_Recruiters_Company] FOREIGN KEY([CompanyId])
REFERENCES [employer].[Companies] ([CompanyId])
GO
ALTER TABLE [employer].[Recruiters] CHECK CONSTRAINT [FK_Recruiters_Company]
GO
ALTER TABLE [employer].[Recruiters]  WITH CHECK ADD  CONSTRAINT [FK_Recruiters_User] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [employer].[Recruiters] CHECK CONSTRAINT [FK_Recruiters_User]
GO
ALTER TABLE [system].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLog_User] FOREIGN KEY([UserId])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [system].[ActivityLog] CHECK CONSTRAINT [FK_ActivityLog_User]
GO
ALTER TABLE [system].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_FromUser] FOREIGN KEY([FromUserId])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [system].[Messages] CHECK CONSTRAINT [FK_Messages_FromUser]
GO
ALTER TABLE [system].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Job] FOREIGN KEY([JobId])
REFERENCES [employer].[Jobs] ([JobId])
GO
ALTER TABLE [system].[Messages] CHECK CONSTRAINT [FK_Messages_Job]
GO
ALTER TABLE [system].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_ToUser] FOREIGN KEY([ToUserId])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [system].[Messages] CHECK CONSTRAINT [FK_Messages_ToUser]
GO
ALTER TABLE [employer].[CompanyReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  StoredProcedure [auth].[sp_CreateUser]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [auth].[sp_CreateUser]
    @Email NVARCHAR(255),
    @PasswordHash VARBINARY(256),
    @Salt VARBINARY(16),
    @Role NVARCHAR(50),
    @NewUserID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO auth.Users (Email, PasswordHash, Salt, Role, IsEmailConfirmed, IsActive, CreatedAt)
    VALUES (@Email, @PasswordHash, @Salt, @Role, 0, 1, GETUTCDATE());
    
    SET @NewUserID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [auth].[sp_GetUserByEmail]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [auth].[sp_GetUserByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        UserID,
        Email,
        PasswordHash,
        Salt,
        Role,
        IsEmailConfirmed,
        IsActive,
        CreatedAt,
        LastLoginAt
    FROM auth.Users
    WHERE Email = @Email;
END

GO
/****** Object:  StoredProcedure [auth].[sp_GetUserById]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [auth].[sp_GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.UserId,
        u.Email,
        u.PasswordHash,
        u.Salt,
        u.Role,
        u.IsEmailConfirmed,
        u.CreatedAt,
        u.LastLoginAt,
        u.IsActive
    FROM auth.Users u
    WHERE u.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [auth].[sp_RegisterUser]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [auth].[sp_RegisterUser]
    @Email NVARCHAR(255),
    @PasswordHash VARBINARY(256),
    @Salt VARBINARY(16),
    @Role NVARCHAR(50),
    @FullName NVARCHAR(250),
    @CompanyName NVARCHAR(300) = NULL,
    @RecruiterTitle NVARCHAR(200) = NULL,
    @UserId INT OUTPUT,
    @ProfileId INT OUTPUT,
    @CompanyId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Create user account
        INSERT INTO auth.Users (Email, PasswordHash, Salt, Role, IsEmailConfirmed, IsActive, CreatedAt)
        VALUES (@Email, @PasswordHash, @Salt, @Role, 0, 1, GETDATE());
        
        SET @UserId = SCOPE_IDENTITY();
        
        -- Create profile based on role
        IF @Role = 'Candidate'
        BEGIN
            DECLARE @CandidateId INT;
            
            INSERT INTO candidate.Candidates (UserId, FullName, PublicProfile, CreatedAt)
            VALUES (@UserId, @FullName, 1, GETDATE());
            
            SET @ProfileId = SCOPE_IDENTITY();
            SET @CompanyId = NULL;
        END
        ELSE IF @Role = 'Recruiter'
        BEGIN
            DECLARE @RecruiterId INT;
            
            -- Check if company exists
            SELECT @CompanyId = CompanyId 
            FROM employer.Companies 
            WHERE Name = @CompanyName;
            
            -- Create company if not exists
            IF @CompanyId IS NULL
            BEGIN
                INSERT INTO employer.Companies (Name, IsVerified, CreatedAt)
                VALUES (@CompanyName, 0, GETDATE());
                
                SET @CompanyId = SCOPE_IDENTITY();
            END
            
            -- Create recruiter profile
            INSERT INTO employer.Recruiters (UserId, CompanyId, Title, IsPrimaryContact)
            VALUES (@UserId, @CompanyId, ISNULL(@RecruiterTitle, 'Recruiter'), 1);
            
            SET @ProfileId = SCOPE_IDENTITY();
        END
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS Success;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;

GO
/****** Object:  StoredProcedure [auth].[sp_UpdateLastLogin]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [auth].[sp_UpdateLastLogin]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE auth.Users
    SET LastLoginAt = GETUTCDATE()
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [candidate].[sp_CreateCandidateProfile]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [candidate].[sp_CreateCandidateProfile]
    @UserId INT,
    @FullName NVARCHAR(250),
    @CandidateId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO candidate.Candidates (
        UserId,
        FullName,
        PublicProfile,
        CreatedAt
    )
    VALUES (
        @UserId,
        @FullName,
        1, -- Public by default
        GETDATE()
    );

    SET @CandidateId = SCOPE_IDENTITY();
END;

GO
/****** Object:  StoredProcedure [candidate].[sp_GetCandidateByUserId]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [candidate].[sp_GetCandidateByUserId]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CandidateId,
        UserId,
        FullName,
        Headline,
        Summary,
        YearsOfExperience,
        CityId,
        CountryId,
        AvatarUrl,
        PublicProfile,
        CreatedAt,
        UpdatedAt
    FROM candidate.Candidates
    WHERE UserId = @UserId;
END;

GO
/****** Object:  StoredProcedure [candidate].[sp_GetCandidateIdByUserId]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [candidate].[sp_GetCandidateIdByUserId]
    @UserId INT,
    @CandidateId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT @CandidateId = CandidateId
    FROM candidate.Candidates
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [candidate].[sp_GetSavedJobsByUser]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [candidate].[sp_GetSavedJobsByUser]
    @UserID INT
AS BEGIN
    SELECT SavedJobID, UserID, JobID, SavedAt
    FROM candidate.SavedJobs
    WHERE UserID = @UserID
    ORDER BY SavedAt DESC;
END
GO
/****** Object:  StoredProcedure [candidate].[sp_IsJobSaved]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [candidate].[sp_IsJobSaved]
    @UserID INT,
    @JobID INT
AS BEGIN
    SELECT CASE WHEN EXISTS(
        SELECT 1 FROM candidate.SavedJobs
        WHERE UserID = @UserID AND JobID = @JobID
    ) THEN 1 ELSE 0 END AS IsSaved;
END
GO
/****** Object:  StoredProcedure [candidate].[sp_SaveJob]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [candidate].[sp_SaveJob]
    @UserID INT,
    @JobID INT,
    @SavedJobID INT OUTPUT
AS BEGIN
    INSERT INTO candidate.SavedJobs (UserID, JobID, SavedAt)
    VALUES (@UserID, @JobID, GETDATE());
    SET @SavedJobID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [candidate].[sp_UnsaveJob]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [candidate].[sp_UnsaveJob]
    @UserID INT,
    @JobID INT
AS BEGIN
    DELETE FROM candidate.SavedJobs
    WHERE UserID = @UserID AND JobID = @JobID;
END
GO
/****** Object:  StoredProcedure [common].[sp_GetAllCities]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [common].[sp_GetAllCities]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.CityId AS CityID,
        c.Name AS CityName,
        c.ProvinceId AS ProvinceID,
        p.Name AS ProvinceName
    FROM common.Cities c
    LEFT JOIN common.Provinces p ON c.ProvinceId = p.ProvinceId
    ORDER BY c.Name;
END
GO
/****** Object:  StoredProcedure [common].[sp_GetEmploymentTypes]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [common].[sp_GetEmploymentTypes]
AS BEGIN
    SELECT EmploymentTypeID, Name
    FROM common.EmploymentTypes
    ORDER BY Name;
END
GO
/****** Object:  StoredProcedure [common].[sp_GetRemoteTypes]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [common].[sp_GetRemoteTypes]
AS BEGIN
    SELECT RemoteTypeID, Name
    FROM common.RemoteTypes
    ORDER BY RemoteTypeID;
END
GO
/****** Object:  StoredProcedure [common].[sp_GetSeniorityLevels]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [common].[sp_GetSeniorityLevels]
AS BEGIN
    SELECT SeniorityLevelID, Name
    FROM common.SeniorityLevels
    ORDER BY SeniorityLevelID;
END
GO
/****** Object:  StoredProcedure [common].[sp_GetTopSkills]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [common].[sp_GetTopSkills]
    @Limit INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@Limit)
        s.SkillId AS SkillID,
        s.Name AS SkillName,
        s.Slug,
        COUNT(DISTINCT js.JobId) AS JobCount
    FROM common.Skills s
    INNER JOIN employer.JobSkills js ON s.SkillId = js.SkillId
    INNER JOIN employer.Jobs j ON js.JobId = j.JobId
    WHERE j.StatusId = 2  -- Published jobs only
    GROUP BY s.SkillId, s.Name, s.Slug
    ORDER BY JobCount DESC, s.Name;
END
GO
/****** Object:  StoredProcedure [employer].[sp_AddJobSkill]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_AddJobSkill]
    @JobId INT,
    @SkillId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if the relationship already exists
    IF NOT EXISTS (SELECT 1 FROM employer.JobSkills WHERE JobId = @JobId AND SkillId = @SkillId)
    BEGIN
        INSERT INTO employer.JobSkills (JobId, SkillId)
        VALUES (@JobId, @SkillId);
    END
END;
GO
/****** Object:  StoredProcedure [employer].[sp_CreateJob]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_CreateJob]
    @CompanyId INT,
    @RecruiterId INT,
    @Title NVARCHAR(250),
    @Description NVARCHAR(MAX),
    @Requirements NVARCHAR(MAX) = NULL,
    @Benefits NVARCHAR(MAX) = NULL,
    @CityId INT,
    @EmploymentTypeId TINYINT,
    @SeniorityLevelId TINYINT = NULL,
    @RemoteTypeId TINYINT = NULL,
    @SalaryMin INT = NULL,
    @SalaryMax INT = NULL,
    @Currency VARCHAR(3) = 'USD',
    @ExpiresAt VARCHAR(50) = NULL,
    @StatusId TINYINT = 1,
    @JobId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PostedAt DATETIME2 = GETDATE();
    DECLARE @ExpiresAtDate DATETIME2;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verify recruiter belongs to the company
        IF NOT EXISTS (
            SELECT 1 FROM employer.Recruiters 
            WHERE RecruiterId = @RecruiterId AND CompanyId = @CompanyId
        )
        BEGIN
            RAISERROR('Recruiter does not belong to this company', 16, 1);
            RETURN;
        END
        
        -- Parse ExpiresAt string to datetime (format: YYYY-MM-DD)
        IF @ExpiresAt IS NOT NULL AND @ExpiresAt != ''
        BEGIN
            SET @ExpiresAtDate = CAST(@ExpiresAt AS DATETIME2);
        END
        ELSE
        BEGIN
            -- Default expiration: 30 days from now
            SET @ExpiresAtDate = DATEADD(DAY, 30, @PostedAt);
        END
        
        -- Insert job posting
        INSERT INTO employer.Jobs (
            CompanyId,
            RecruiterId,
            Title,
            Description,
            Requirements,
            Benefits,
            CityId,
            EmploymentTypeId,
            SeniorityLevelId,
            RemoteTypeId,
            SalaryMin,
            SalaryMax,
            Currency,
            StatusId,
            ApplicationsCount,
            ViewsCount,
            IsFeatured,
            PostedAt,
            ExpiresAt,
            UpdatedAt
        )
        VALUES (
            @CompanyId,
            @RecruiterId,
            @Title,
            @Description,
            @Requirements,
            @Benefits,
            @CityId,
            @EmploymentTypeId,
            @SeniorityLevelId,
            @RemoteTypeId,
            @SalaryMin,
            @SalaryMax,
            @Currency,
            @StatusId,
            0,                              -- ApplicationsCount starts at 0
            0,                              -- ViewsCount starts at 0
            0,                              -- IsFeatured defaults to false
            @PostedAt,
            @ExpiresAtDate,
            @PostedAt
        );
        
        -- Get the newly created JobId
        SET @JobId = SCOPE_IDENTITY();
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [employer].[sp_CreateRecruiter]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_CreateRecruiter]
    @UserID INT,
    @CompanyID INT,
    @Title NVARCHAR(200),
    @IsPrimaryContact BIT,
    @RecruiterID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if recruiter already exists
    IF EXISTS (SELECT 1 FROM employer.Recruiters WHERE UserId = @UserID)
    BEGIN
        -- Update existing
        UPDATE employer.Recruiters
        SET CompanyId = @CompanyID,
            Title = @Title,
            IsPrimaryContact = @IsPrimaryContact
        WHERE UserId = @UserID;

        SELECT @RecruiterID = RecruiterId 
        FROM employer.Recruiters 
        WHERE UserId = @UserID;
    END
    ELSE
    BEGIN
        -- Insert new
        INSERT INTO employer.Recruiters (UserId, CompanyId, Title, IsPrimaryContact)
        VALUES (@UserID, @CompanyID, @Title, @IsPrimaryContact);

        SET @RecruiterID = SCOPE_IDENTITY();
    END
END;

GO
/****** Object:  StoredProcedure [employer].[sp_CreateRecruiterProfile]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_CreateRecruiterProfile]
    @UserId INT,
    @CompanyName NVARCHAR(300),
    @RecruiterTitle NVARCHAR(200),
    @CompanyId INT OUTPUT,
    @RecruiterId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Check if company with this name already exists
        SELECT @CompanyId = CompanyId 
        FROM employer.Companies 
        WHERE Name = @CompanyName;
        
        -- If company doesn't exist, create it
        IF @CompanyId IS NULL
        BEGIN
            INSERT INTO employer.Companies (
                Name,
                IsVerified,
                CreatedAt
            )
            VALUES (
                @CompanyName,
                0, -- Not verified initially
                GETDATE()
            );
            
            SET @CompanyId = SCOPE_IDENTITY();
        END
        
        -- Create recruiter profile
        INSERT INTO employer.Recruiters (
            UserId,
            CompanyId,
            Title,
            IsPrimaryContact
        )
        VALUES (
            @UserId,
            @CompanyId,
            @RecruiterTitle,
            1 -- First recruiter is primary contact
        );
        
        SET @RecruiterId = SCOPE_IDENTITY();
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [employer].[sp_DeleteJob]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_DeleteJob]
    @JobId INT,
    @RecruiterId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verify the job belongs to the recruiter
    IF EXISTS (
        SELECT 1 FROM employer.Jobs 
        WHERE JobId = @JobId AND RecruiterId = @RecruiterId
    )
    BEGIN
        -- Set status to Draft (1) or you could create a Deleted status
        UPDATE employer.Jobs
        SET StatusId = 1, -- Draft
            UpdatedAt = GETDATE()
        WHERE JobId = @JobId;
        
        SELECT 1 AS Success;
    END
    ELSE
    BEGIN
        SELECT 0 AS Success;
    END
END;

GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationCountByRecruiter]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetApplicationCountByRecruiter]
    @recruiterId INT,
    @jobId INT = NULL,
    @status NVARCHAR(50) = NULL,
    @keyword NVARCHAR(100) = NULL,
    @totalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT @totalCount = COUNT(*)
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobId = j.JobId
    INNER JOIN employer.Recruiters r ON j.RecruiterId = r.RecruiterId
    INNER JOIN candidate.Candidates cand ON a.CandidateId = cand.CandidateId
    INNER JOIN auth.Users u ON cand.UserId = u.UserId
    WHERE r.RecruiterId = @recruiterId
        AND (@jobId IS NULL OR a.JobId = @jobId)
        AND (@status IS NULL OR a.Status = @status)
        AND (@keyword IS NULL OR 
             cand.FullName LIKE '%' + @keyword + '%' OR 
             u.Email LIKE '%' + @keyword + '%');
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationDetail]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetApplicationDetail]
    @applicationId INT,
    @recruiterId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        a.ApplicationId,
        a.JobId,
        a.CandidateId,
        a.CoverLetter,
        a.AppliedAt,
        a.Status,
        a.ResumeId,
        a.Source,
        j.Title AS jobTitle,
        j.Description AS jobDescription,
        c.Name AS companyName,
        cand.FullName AS candidateName,
        u.Email AS candidateEmail,
        cand.Summary AS candidateSummary,
        cities.Name AS candidateCity,
        res.FileName AS resumeFileName,
        res.FileUrl AS resumeFileUrl
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobId = j.JobId
    INNER JOIN employer.Recruiters r ON j.RecruiterId = r.RecruiterId
    INNER JOIN employer.Companies c ON j.CompanyId = c.CompanyId
    INNER JOIN candidate.Candidates cand ON a.CandidateId = cand.CandidateId
    INNER JOIN auth.Users u ON cand.UserId = u.UserId
    LEFT JOIN common.Cities cities ON cand.CityId = cities.CityId
    LEFT JOIN candidate.Resumes res ON a.ResumeId = res.ResumeId
    WHERE a.ApplicationId = @applicationId
        AND r.RecruiterId = @recruiterId;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationFunnel]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetApplicationFunnel]
    @recruiterId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @totalViews INT;
    DECLARE @totalApplications INT;
    DECLARE @underReview INT;
    DECLARE @interviewed INT;
    DECLARE @offered INT;
    
    -- Get total views for recruiter's jobs
    SELECT @totalViews = ISNULL(SUM(j.ViewsCount), 0)
    FROM employer.Jobs j
    WHERE j.RecruiterID = @recruiterId;
    
    -- Get total applications
    SELECT @totalApplications = COUNT(*)
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobID = j.JobID
    WHERE j.RecruiterID = @recruiterId;
    
    -- Get under review count
    SELECT @underReview = COUNT(*)
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobID = j.JobID
    WHERE j.RecruiterID = @recruiterId
        AND a.Status = 'Under Review';
    
    -- Get interviewed count
    SELECT @interviewed = COUNT(*)
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobID = j.JobID
    WHERE j.RecruiterID = @recruiterId
        AND a.Status = 'Interview Scheduled';
    
    -- Get offered count
    SELECT @offered = COUNT(*)
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobID = j.JobID
    WHERE j.RecruiterID = @recruiterId
        AND a.Status = 'Offer Extended';
    
    -- Calculate conversion rates
    SELECT 
        @totalViews AS TotalViews,
        @totalApplications AS TotalApplications,
        @underReview AS UnderReview,
        @interviewed AS Interviewed,
        @offered AS Offered,
        CASE WHEN @totalViews > 0 THEN CAST(@totalApplications AS FLOAT) / @totalViews * 100 ELSE 0 END AS ViewToAppRate,
        CASE WHEN @totalApplications > 0 THEN CAST(@underReview AS FLOAT) / @totalApplications * 100 ELSE 0 END AS AppToReviewRate,
        CASE WHEN @underReview > 0 THEN CAST(@interviewed AS FLOAT) / @underReview * 100 ELSE 0 END AS ReviewToInterviewRate,
        CASE WHEN @interviewed > 0 THEN CAST(@offered AS FLOAT) / @interviewed * 100 ELSE 0 END AS InterviewToOfferRate;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationsByRecruiter]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetApplicationsByRecruiter]
    @recruiterId INT,
    @jobId INT = NULL,
    @status NVARCHAR(50) = NULL,
    @keyword NVARCHAR(100) = NULL,
    @pageNumber INT = 1,
    @pageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @offset INT = (@pageNumber - 1) * @pageSize;
    
    SELECT 
        a.ApplicationId,
        a.JobId,
        a.CandidateId,
        a.CoverLetter,
        a.Source,
        a.AppliedAt,
        a.Status,
        a.ResumeId,
        j.Title AS jobTitle,
        c.Name AS companyName,
        cand.FullName AS candidateName,
        u.Email AS candidateEmail,
        res.FileUrl,
        res.FileName
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobId = j.JobId
    INNER JOIN employer.Recruiters r ON j.RecruiterId = r.RecruiterId
    INNER JOIN employer.Companies c ON j.CompanyId = c.CompanyId
    INNER JOIN candidate.Candidates cand ON a.CandidateId = cand.CandidateId
    INNER JOIN auth.Users u ON cand.UserId = u.UserId
    LEFT JOIN candidate.Resumes res ON a.ResumeId = res.ResumeId
    WHERE r.RecruiterId = @recruiterId
        AND (@jobId IS NULL OR a.JobId = @jobId)
        AND (@status IS NULL OR a.Status = @status)
        AND (@keyword IS NULL OR 
             cand.FullName LIKE '%' + @keyword + '%' OR 
             u.Email LIKE '%' + @keyword + '%')
    ORDER BY a.AppliedAt DESC
    OFFSET @offset ROWS
    FETCH NEXT @pageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationStatsByStatus]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetApplicationStatsByStatus]
    @RecruiterID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.Status,
        COUNT(*) AS Count
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobId = j.JobId
    WHERE j.RecruiterId = @RecruiterID
    GROUP BY a.Status
    ORDER BY Count DESC;
END;

GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationStatusCounts]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetApplicationStatusCounts]
    @recruiterId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        COUNT(*) AS allCount,
        SUM(CASE WHEN a.Status = 'Applied' THEN 1 ELSE 0 END) AS appliedCount,
        SUM(CASE WHEN a.Status = 'Under Review' THEN 1 ELSE 0 END) AS underReviewCount,
        SUM(CASE WHEN a.Status = 'Interview Scheduled' THEN 1 ELSE 0 END) AS interviewCount,
        SUM(CASE WHEN a.Status = 'Rejected' THEN 1 ELSE 0 END) AS rejectedCount
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobId = j.JobId
    INNER JOIN employer.Recruiters r ON j.RecruiterId = r.RecruiterId
    WHERE r.RecruiterId = @recruiterId;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetApplicationsTimeline]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Get applications timeline for the last N days
CREATE   PROCEDURE [employer].[sp_GetApplicationsTimeline]
    @recruiterId INT,
    @days INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @startDate DATE = DATEADD(DAY, -@days, GETDATE());
    
    SELECT 
        CAST(a.AppliedAt AS DATE) AS Date,
        COUNT(*) AS ApplicationCount
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobID = j.JobID
    WHERE j.RecruiterID = @recruiterId
        AND a.AppliedAt >= @startDate
    GROUP BY CAST(a.AppliedAt AS DATE)
    ORDER BY Date;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetCompanyDetail]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetCompanyDetail]
    @CompanyID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.CompanyId AS CompanyID,
        c.Name AS CompanyName,
        c.ShortName AS Slug,
        c.LogoUrl,
        c.Website AS WebsiteUrl,
        c.Description,
        c.Industry,
        c.SizeRange AS CompanySize,
        c.FoundedYear,
        c.HeadquartersCityId,
        NULL AS Address,  -- No address field in Companies table
        ci.Name AS CityName,
        -- Count active jobs
        (
            SELECT COUNT(*)
            FROM employer.Jobs j
            WHERE j.CompanyId = c.CompanyId
                AND j.StatusId = 2  -- Published status
                AND (j.ExpiresAt IS NULL OR j.ExpiresAt > GETUTCDATE())
        ) AS ActiveJobCount
    FROM employer.Companies c
    LEFT JOIN common.Cities ci ON c.HeadquartersCityId = ci.CityId
    WHERE c.CompanyId = @CompanyID;
END
GO
/****** Object:  StoredProcedure [employer].[sp_GetJobDetail]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetJobDetail]
    @JobID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        j.JobID,
        j.Title,
        j.Slug,
        j.CompanyID,
        c.Name AS CompanyName,
        c.LogoUrl,
        ci.Name AS CityName,
        j.SalaryMin,
        j.SalaryMax,
        j.Currency,
        j.Description,
        j.Requirements,
        j.Benefits,
        et.Name AS EmploymentType,
        sl.Name AS SeniorityLevel,
        rt.Name AS RemoteType,
        j.IsFeatured,
        j.ExpiresAt,
        j.PostedAt,
        -- Get skills as JSON
        (
            SELECT s.SkillID, s.Name
            FROM employer.JobSkills js
            INNER JOIN common.Skills s ON js.SkillID = s.SkillID
            WHERE js.JobID = j.JobID
            FOR JSON PATH
        ) AS Skills
    FROM employer.Jobs j
    INNER JOIN employer.Companies c ON j.CompanyID = c.CompanyID
    LEFT JOIN common.Cities ci ON j.CityID = ci.CityID
    LEFT JOIN common.EmploymentTypes et ON j.EmploymentTypeID = et.EmploymentTypeID
    LEFT JOIN common.SeniorityLevels sl ON j.SeniorityLevelID = sl.SeniorityLevelID
    LEFT JOIN common.RemoteTypes rt ON j.RemoteTypeID = rt.RemoteTypeID
    WHERE j.JobID = @JobID
        AND j.StatusID = 2; -- Published only
END
GO
/****** Object:  StoredProcedure [employer].[sp_GetJobForEdit]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetJobForEdit]
    @JobId INT,
    @RecruiterId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verify the job belongs to the recruiter before returning data
    IF EXISTS (
        SELECT 1 FROM employer.Jobs 
        WHERE JobId = @JobId AND RecruiterId = @RecruiterId
    )
    BEGIN
        SELECT 
            j.JobId,
            j.CompanyId,
            j.RecruiterId,
            j.Title,
            j.Slug,
            j.Description,
            j.Requirements,
            j.Benefits,
            j.CityId,
            j.EmploymentTypeId,
            j.SeniorityLevelId,
            j.RemoteTypeId,
            j.SalaryMin,
            j.SalaryMax,
            j.Currency,
            j.StatusId,
            j.IsFeatured,
            j.PostedAt,
            j.ExpiresAt,
            j.ViewsCount,
            j.ApplicationsCount
        FROM employer.Jobs j
        WHERE j.JobId = @JobId;
        
        -- Also return the associated skills
        SELECT 
            js.SkillId,
            s.Name AS SkillName
        FROM employer.JobSkills js
        INNER JOIN common.Skills s ON js.SkillId = s.SkillId
        WHERE js.JobId = @JobId;
    END
    ELSE
    BEGIN
        -- Return empty result if not authorized
        SELECT NULL AS JobId WHERE 1 = 0;
        SELECT NULL AS SkillId WHERE 1 = 0;
    END
END;

GO
/****** Object:  StoredProcedure [employer].[sp_GetJobPerformanceMetrics]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. Get job performance metrics - FIXED: StatusID should be 2 for Published jobs
CREATE   PROCEDURE [employer].[sp_GetJobPerformanceMetrics]
    @recruiterId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 10
        j.JobID,
        j.Title,
        j.ViewsCount,
        COUNT(a.ApplicationID) AS ApplicationsCount,
        CASE 
            WHEN j.ViewsCount > 0 THEN CAST(COUNT(a.ApplicationID) AS FLOAT) / j.ViewsCount * 100 
            ELSE 0 
        END AS ConversionRate,
        DATEDIFF(DAY, j.PostedAt, GETDATE()) AS DaysSincePosted
    FROM employer.Jobs j
    LEFT JOIN candidate.Applications a ON j.JobID = a.JobID
    WHERE j.RecruiterID = @recruiterId
        AND j.StatusID = 2 -- Published jobs (not Draft=1 or Closed=3)
    GROUP BY j.JobID, j.Title, j.ViewsCount, j.PostedAt
    ORDER BY ApplicationsCount DESC;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetJobStatistics]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetJobStatistics]
    @JobID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        j.ViewsCount,
        j.ApplicationsCount AS TotalApplications,
        (SELECT COUNT(*) FROM candidate.Applications WHERE JobId = @JobID AND Status = 'Pending') AS PendingApplications,
        (SELECT COUNT(*) FROM candidate.Applications WHERE JobId = @JobID AND Status = 'Interview') AS InterviewCount,
        (SELECT COUNT(*) FROM candidate.Applications WHERE JobId = @JobID AND Status = 'Offered') AS OffersCount,
        (SELECT COUNT(*) FROM candidate.SavedJobs WHERE JobId = @JobID) AS SavedCount
    FROM employer.Jobs j
    WHERE j.JobId = @JobID;
END;

GO
/****** Object:  StoredProcedure [employer].[sp_GetRecentApplicationsByRecruiter]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetRecentApplicationsByRecruiter]
    @RecruiterID INT,
    @Limit INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Limit)
        a.ApplicationId,
        a.JobId,
        j.Title AS JobTitle,
        a.CandidateId,
  
      c.FullName AS CandidateName,
        u.Email AS CandidateEmail,
        a.AppliedAt,
        a.Status,
        r.FileUrl,
        r.resumeId as ResumeId
    FROM candidate.Applications a
    INNER JOIN employer.Jobs j ON a.JobId = j.JobId
    INNER JOIN candidate.Candidates c ON a
.CandidateId = c.CandidateId
    INNER JOIN auth.Users u ON c.UserId = u.UserId
    LEFT JOIN candidate.Resumes r ON a.ResumeId = r.ResumeId
    WHERE j.RecruiterId = @RecruiterID
    ORDER BY a.AppliedAt DESC;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetRecruiterByUserId]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetRecruiterByUserId]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        RecruiterId,
        UserId,
        CompanyId,
        Title,
        IsPrimaryContact
    FROM employer.Recruiters
    WHERE UserId = @UserID;
END;

GO
/****** Object:  StoredProcedure [employer].[sp_GetRecruiterDashboardStats]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetRecruiterDashboardStats]
    @RecruiterID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Total jobs posted by this recruiter
        (SELECT COUNT(*) FROM employer.Jobs WHERE RecruiterId = @RecruiterID) AS TotalJobs,
        
        -- Active jobs (StatusId = 2 for Published based on vw_PublishedJobs view)
        (SELECT COUNT(*) FROM employer.Jobs WHERE RecruiterId = @RecruiterID AND StatusId = 2) AS ActiveJobs,
        
        -- Total applications for recruiter's jobs
        (SELECT COUNT(*) 
         FROM candidate.Applications a
         INNER JOIN employer.Jobs j ON a.JobId = j.JobId
         WHERE j.RecruiterId = @RecruiterID) AS TotalApplications,
        
        -- New applications (last 7 days)
        (SELECT COUNT(*) 
         FROM candidate.Applications a
         INNER JOIN employer.Jobs j ON a.JobId = j.JobId
         WHERE j.RecruiterId = @RecruiterID 
         AND a.AppliedAt >= DATEADD(DAY, -7, GETDATE())) AS NewApplications,
        
        -- Interviews scheduled (assuming you have interview status)
        (SELECT COUNT(*) 
         FROM candidate.Applications a
         INNER JOIN employer.Jobs j ON a.JobId = j.JobId
         WHERE j.RecruiterId = @RecruiterID 
         AND a.Status = 'Interview') AS InterviewsScheduled,
        
        -- Total views for all jobs
        (SELECT ISNULL(SUM(ViewsCount), 0) 
         FROM employer.Jobs 
         WHERE RecruiterId = @RecruiterID) AS TotalViews;
END;

GO
/****** Object:  StoredProcedure [employer].[sp_GetRecruiterJobCount]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetRecruiterJobCount]
    @RecruiterID INT,
    @StatusId TINYINT = NULL,
    @Keyword NVARCHAR(255) = NULL,
    @TotalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT @TotalCount = COUNT(*)
    FROM employer.Jobs j
    LEFT JOIN common.Cities c ON j.CityId = c.CityId
    WHERE j.RecruiterId = @RecruiterID
        AND (@StatusId IS NULL OR j.StatusId = @StatusId)
        AND (
            @Keyword IS NULL 
            OR @Keyword = '' 
            OR j.Title LIKE '%' + @Keyword + '%'
            OR c.Name LIKE '%' + @Keyword + '%'
        );
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetRecruiterJobs]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetRecruiterJobs]
    @RecruiterID INT,
    @StatusId TINYINT = NULL,
    @Keyword NVARCHAR(255) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    SELECT 
        j.JobId,
        j.Title,
        j.Slug,
        js.Name AS Status,
        j.StatusId,
        j.PostedAt,
        j.ExpiresAt,
        ISNULL(j.ViewsCount, 0) AS ViewsCount,
        ISNULL(j.ApplicationsCount, 0) AS ApplicationsCount,
        j.IsFeatured,
        c.Name AS CityName,
        et.Name AS EmploymentType,
        j.SalaryMin,
        j.SalaryMax,
        j.Currency
    FROM employer.Jobs j
    LEFT JOIN common.Cities c ON j.CityId = c.CityId
    LEFT JOIN common.EmploymentTypes et ON j.EmploymentTypeId = et.EmploymentTypeId
    LEFT JOIN common.JobStatus js ON j.StatusId = js.JobStatusId
    WHERE j.RecruiterId = @RecruiterID
        AND (@StatusId IS NULL OR j.StatusId = @StatusId)
        AND (
            @Keyword IS NULL 
            OR @Keyword = '' 
            OR j.Title LIKE '%' + @Keyword + '%'
            OR c.Name LIKE '%' + @Keyword + '%'
        )
    ORDER BY j.PostedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [employer].[sp_GetRelatedJobs]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetRelatedJobs]
    @JobID INT,
    @CompanyID INT,
    @Limit INT = 5
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@Limit)
        j.JobID,
        j.Title,
        j.Slug,
        c.Name AS CompanyName,
        c.LogoUrl,
        ci.Name AS CityName,
        j.SalaryMin,
        j.SalaryMax
    FROM employer.Jobs j
    INNER JOIN employer.Companies c ON j.CompanyID = c.CompanyID
    LEFT JOIN common.Cities ci ON j.CityID = ci.CityID
    WHERE j.StatusID = 2 -- Published
        AND j.JobID != @JobID
        AND (
            j.CompanyID = @CompanyID -- Same company
            OR EXISTS ( -- Or similar skills
                SELECT 1
                FROM employer.JobSkills js1
                INNER JOIN employer.JobSkills js2 ON js1.SkillID = js2.SkillID
                WHERE js1.JobID = @JobID AND js2.JobID = j.JobID
            )
        )
    ORDER BY 
        CASE WHEN j.CompanyID = @CompanyID THEN 0 ELSE 1 END,
        j.PostedAt DESC;
END
GO
/****** Object:  StoredProcedure [employer].[sp_GetTopEmployers]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [employer].[sp_GetTopEmployers]
    @TopN INT = 6
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopN)
        c.CompanyId,
        c.Name as CompanyName,
        c.LogoUrl,
        city.Name AS CityName,
        COUNT(DISTINCT j.JobId) AS ActiveJobCount,
        -- Get top skills for this company
        (
            SELECT TOP 5 s.Name
            FROM employer.Jobs jj
            INNER JOIN employer.JobSkills js ON jj.JobId = js.JobId
            INNER JOIN common.Skills s ON js.SkillId = s.SkillId
            WHERE jj.CompanyId = c.CompanyId AND jj.StatusId = 2
            GROUP BY s.SkillId, s.Name
            ORDER BY COUNT(*) DESC
            FOR JSON PATH
        ) AS TopSkills
    FROM employer.Companies c
    LEFT JOIN common.Cities city ON c.HeadquartersCityId = city.CityId
    LEFT JOIN employer.Jobs j ON c.CompanyId = j.CompanyId AND j.StatusId = 2
    WHERE c.IsVerified = 1
    GROUP BY c.CompanyId, c.Name, c.LogoUrl, city.Name
    ORDER BY ActiveJobCount DESC, c.Name;
END
GO
/****** Object:  StoredProcedure [employer].[sp_GetTotalPublishedJobCount]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_GetTotalPublishedJobCount]
    @TotalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT @TotalCount = COUNT(*)
    FROM employer.Jobs
    WHERE StatusId = 2; -- Published
END;
GO
/****** Object:  StoredProcedure [employer].[sp_RemoveAllJobSkills]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_RemoveAllJobSkills]
    @JobId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM employer.JobSkills
    WHERE JobId = @JobId;
END;

GO
/****** Object:  StoredProcedure [employer].[sp_RemoveJobSkill]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_RemoveJobSkill]
    @JobId INT,
    @SkillId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM employer.JobSkills
    WHERE JobId = @JobId AND SkillId = @SkillId;
END;

GO
/****** Object:  StoredProcedure [employer].[sp_SearchJobs]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [employer].[sp_SearchJobs]
    @Keyword NVARCHAR(500) = NULL,
    @CityId INT = NULL,
    @SkillIds VARCHAR(MAX) = NULL,  -- comma-separated skill IDs
    @PageNumber INT = 1,
    @PageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    SELECT 
        j.JobId,
        j.Title,
        j.Slug,
        j.ShortDescription,
        j.SalaryMin,
        j.SalaryMax,
        j.Currency,
        j.PostedAt,
        j.IsFeatured,
        c.CompanyId,
        c.Name AS CompanyName,
        c.LogoUrl,
        city.Name AS CityName,
        emp.Name AS EmploymentType,
        sen.Name AS SeniorityLevel,
        rem.Name AS RemoteType,
        -- Get skills as JSON array
        (
            SELECT s.SkillId, s.Name
            FROM employer.JobSkills js
            INNER JOIN common.Skills s ON js.SkillId = s.SkillId
            WHERE js.JobId = j.JobId
            FOR JSON PATH
        ) AS Skills
    FROM employer.Jobs j
    INNER JOIN employer.Companies c ON j.CompanyId = c.CompanyId
    LEFT JOIN common.Cities city ON j.CityId = city.CityId
    LEFT JOIN common.EmploymentTypes emp ON j.EmploymentTypeId = emp.EmploymentTypeId
    LEFT JOIN common.SeniorityLevels sen ON j.SeniorityLevelId = sen.SeniorityLevelId
    LEFT JOIN common.RemoteTypes rem ON j.RemoteTypeId = rem.RemoteTypeId
    WHERE 
        j.StatusId = 2  -- Published only
        AND (@Keyword IS NULL OR 
             j.Title LIKE '%' + @Keyword + '%' OR
             j.ShortDescription LIKE '%' + @Keyword + '%')
        AND (@CityId IS NULL OR j.CityId = @CityId)
        AND (@SkillIds IS NULL OR EXISTS (
            SELECT 1 
            FROM employer.JobSkills js
            WHERE js.JobId = j.JobId 
            AND js.SkillId IN (SELECT value FROM STRING_SPLIT(@SkillIds, ','))
        ))
    ORDER BY 
        j.IsFeatured DESC,
        j.PostedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [employer].[sp_UpdateApplicationStatus]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_UpdateApplicationStatus]
    @applicationId INT,
    @recruiterId INT,
    @newStatus NVARCHAR(50),
    @success BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @success = 0;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Check if recruiter owns the job
        IF EXISTS (
            SELECT 1 
            FROM candidate.Applications a
            INNER JOIN employer.Jobs j ON a.JobId = j.JobId
            WHERE a.ApplicationId = @applicationId
                AND j.RecruiterId = @recruiterId
        )
        BEGIN
            -- Note: Applications table doesn't have updatedAt column in schema
            UPDATE candidate.Applications
            SET Status = @newStatus
            WHERE ApplicationId = @applicationId;
            
            SET @success = 1;
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SET @success = 0;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [employer].[sp_UpdateCompanyProfile]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [employer].[sp_UpdateCompanyProfile]
    @CompanyID INT,
    @Name NVARCHAR(255),
    @Website NVARCHAR(500),
    @Description NVARCHAR(MAX),
    @Industry NVARCHAR(100),
    @SizeRange NVARCHAR(50),
    @FoundedYear INT,
    @HeadquartersCityID INT,
    @LogoUrl NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE employer.Companies
    SET 
        Name = @Name,
        Website = @Website,
        Description = @Description,
        Industry = @Industry,
        SizeRange = @SizeRange,
        FoundedYear = @FoundedYear,
        HeadquartersCityID = @HeadquartersCityID,
        LogoUrl = @LogoUrl
    WHERE CompanyID = @CompanyID;
END


SELECT
    SCHEMA_NAME(o.schema_id)     AS Routine_Schema,
    o.name                       AS Routine_Name,
    o.type_desc                  AS Routine_Type,
    m.definition                 AS Routine_Definition,
    o.create_date,
    o.modify_date
FROM 
    sys.objects o
JOIN 
    sys.sql_modules m ON o.object_id = m.object_id
WHERE 
    o.type IN ('FN','IF','TF','P')   -- FN=scalar, IF=inline, TF=table-valued, P=stored procedure
    and o.name like '%employer.sp_UpdateCompanyProfile%'
ORDER BY 
    o.modify_date DESC;              -- Newest first
GO
/****** Object:  StoredProcedure [employer].[sp_UpdateJob]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_UpdateJob]
    @JobId INT,
    @RecruiterId INT,
    @Title NVARCHAR(250),
    @Description NVARCHAR(MAX),
    @Requirements NVARCHAR(MAX) = NULL,
    @Benefits NVARCHAR(MAX) = NULL,
    @CityId INT,
    @EmploymentTypeId TINYINT,
    @SeniorityLevelId TINYINT = NULL,
    @RemoteTypeId TINYINT = NULL,
    @SalaryMin INT = NULL,
    @SalaryMax INT = NULL,
    @Currency VARCHAR(3) = 'USD',
    @ExpiresAt VARCHAR(50) = NULL,
    @StatusId TINYINT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ExpiresAtDate DATETIME2;
    DECLARE @Success BIT = 0;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verify the job belongs to the recruiter
        IF NOT EXISTS (
            SELECT 1 FROM employer.Jobs 
            WHERE JobId = @JobId AND RecruiterId = @RecruiterId
        )
        BEGIN
            RAISERROR('Job not found or you do not have permission to edit it', 16, 1);
            RETURN;
        END
        
        -- Parse ExpiresAt string to datetime (format: YYYY-MM-DD)
        IF @ExpiresAt IS NOT NULL AND @ExpiresAt != ''
        BEGIN
            SET @ExpiresAtDate = CAST(@ExpiresAt AS DATETIME2);
        END
        ELSE
        BEGIN
            -- Keep existing expiration or set default
            SELECT @ExpiresAtDate = ISNULL(ExpiresAt, DATEADD(DAY, 30, GETDATE()))
            FROM employer.Jobs
            WHERE JobId = @JobId;
        END
        
        -- Update job posting
        UPDATE employer.Jobs
        SET 
            Title = @Title,
            Description = @Description,
            Requirements = @Requirements,
            Benefits = @Benefits,
            CityId = @CityId,
            EmploymentTypeId = @EmploymentTypeId,
            SeniorityLevelId = @SeniorityLevelId,
            RemoteTypeId = @RemoteTypeId,
            SalaryMin = @SalaryMin,
            SalaryMax = @SalaryMax,
            Currency = @Currency,
            StatusId = @StatusId,
            ExpiresAt = @ExpiresAtDate,
            UpdatedAt = GETDATE()
        WHERE JobId = @JobId AND RecruiterId = @RecruiterId;
        
        SET @Success = 1;
        COMMIT TRANSACTION;
        
        SELECT @Success AS Success;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;

GO
/****** Object:  StoredProcedure [employer].[sp_UpdateJobStatus]    Script Date: 12/21/2025 10:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [employer].[sp_UpdateJobStatus]
    @JobID INT,
    @StatusID TINYINT,
    @RecruiterID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verify the job belongs to the recruiter
    IF EXISTS (SELECT 1 FROM employer.Jobs WHERE JobId = @JobID AND RecruiterId = @RecruiterID)
    BEGIN
        UPDATE employer.Jobs
        SET StatusId = @StatusID
        WHERE JobId = @JobID;

        SELECT 1 AS Success;
    END
    ELSE
    BEGIN
        SELECT 0 AS Success;
    END
END;

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Google Drive file ID for cloud-stored resume' , @level0type=N'SCHEMA',@level0name=N'candidate', @level1type=N'TABLE',@level1name=N'Resumes', @level2type=N'COLUMN',@level2name=N'DriveFileId'
GO
USE [master]
GO
